* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body {
    display: grid;
    background: rgb(130, 167, 167);
    place-items:center;
    height: 100vh;
}

#Start {
    height: auto;
    width: auto;
}
#Begin {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0px;
    background: white;
    color: grey;
    font-size: x-large;
    font-weight: bold;
    border-radius:auto;
    border:10px rgb(0, 255, 242);
    cursor: pointer;

}
#Rules {
    height: auto;
    width: 700px;
    padding: 30px;
    background: lightcyan;
    border-radius: 30px 15px;
    border: 10px solid white;
    display: none;
}

#answerButton {
    display: grid;
    grid: template colmun auto;
    margin: 40px 20px;
    gap: 20px
}

#btn {
    padding: 20px 10px;
    border-radius: 10px;
}

#nextButton {
    display: centre;
    justify-content: center;
    align-items:center;
}
.hide {
    display: none;

}
